.wrapper
  .Event
    .Event__wrapper
      .Event__top
        %h1.Event__top--title イベント情報
      = render partial: "shared/select_form"
      = render partial: "shared/events", locals: { events: @events }
    = render partial: "shared/side_bar"
  .Footer-cover