@media screen and (max-width: 600px) {
  .require {
    border: 1px solid #c90000;
    color: #c90000;
    font-size: 13px;
    border-radius: 3px;
    padding: 2px 3px;
  }

  .event-form {
    margin-bottom: 15px;
  }

  .time-field {
    height: 27px;
    background-color: #eee;
    border-radius: 3px;
  }

  .search-word {
    font-size: 20px;
  }

  .event-nil {
    color: #949494;
  }

  .Create-wrapper {
    width: 100vw;
    display: flex;
    justify-content: center;
    padding-top: 30px;
    .Create {
      width: 330px;
      &-title {
        width: 100%;
        display: flex;
        justify-content: center;
        border-bottom: 2px solid #4e006d;
        margin-bottom: 15px;
        h2 {
          font-size: 25px;
        }
      }
      &__name {
        .name-field {
          width: 100%;
        }
      }
      &__exp {
        .exp-field {
          resize: none;
          width: 100%;
          height: 100px;
        }
      }
      &__env {
        .env-field {
          height: 27px;
          border-radius: 3px;
          background-color: #eee;
        }
      }
      &__schedule {
        &--date {
          .date-field {
            background-color: #eee;
            border: 1px solid #999999;
            border-radius: 3px;
          }
        }
        .Times-div {
          display: flex;
          .Create__schedule--stime {
            margin-right: 15px;
          }
        }
      }
    }
    .submit-btn {
      width: 100%;
      background-color: #335ac4;
      border: none;
      cursor: pointer;
      font-weight: bold;
      color: #fff;
      padding: 5px;
      border-radius: 3px;
    }
  }

  .Detail-wrapper {
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 30px;
    .Detail {
      width: 330px;
      &__top {
        width: 100%;
        display: flex;
        justify-content: center;
        border-bottom: 2px solid #4e006d;
        margin-bottom: 15px;
        h2 {
          font-size: 25px;
        }
      }
      &__image {
        width: 100%;
      }
      &__name {
        margin-bottom: 15px;
      }
      &__owner {
        margin-bottom: 15px;
        &--name {
          display: flex;
          justify-content: space-between;
          .twitter-name {
            color: #fff;
            background-color: #000000;
            padding: 3px 5px;
            border-radius: 3px;
            &:hover {
              background-color: #777777;
            }
          }
        }
      }
      &__date {
        display: flex;
        justify-content: space-between;
        margin-bottom: 15px;
        &--times {
          display: flex;
          flex-direction: column;
          align-items: flex-end;
          font-weight: bold;
        }
      }
      &__place {
        margin-bottom: 15px;
        &--text {
          display: flex;
          justify-content: flex-end;
          font-weight: bold;
        }
      }
      &__exp {
        margin-bottom: 15px;
        &--text {
          padding: 3px;
          border: 1px solid #ccc;
          border-radius: 3px;
        }
      }
      &__option {
        display: flex;
        justify-content: flex-end;
        font-size: 13px;
        #like {
          display: flex;
          align-items: center;
          .Detail__option--notice {
          border: 1px solid #68ca2f;
          color: #68ca2f;
          padding: 3px;
          margin-right: 5px;
          border-radius: 3px;
          &:hover {
            background-color: #e5ffd6;
          }
          &:active {
            transform: translateY(2px);
          }
          }
          #unlike-btn {
            background-color: #dcfccc;
            color: #68ca2f;
            &:hover {
              background-color: #c6e2b8;
            }
          }
        }

        &--tweet {
          border: 1px solid #00acee;
          color: #00acee;
          padding: 3px;
          border-radius: 3px;
          margin-right: 5px;
          &:hover {
            background-color: #cef1ff;
          }
          &:active {
            transform: translateY(2px);
          }
        }
        &--edit {
          border: 1px solid #6d03c4;
          color: #6d03c4;
          padding: 3px;
          border-radius: 3px;
          margin-right: 3px;
          &:hover {
            background-color: #e7caff;
          }
          &:active {
            transform: translateY(2px);
          }
        }
        &--delete {
          border: 1px solid #c40303;
          color: #c40303;
          padding: 3px;
          border-radius: 3px;
          &:hover {
            background-color: #ffd5d5;
          }
          &:active {
            transform: translateY(2px);
          }
        }
      }
    }
  }
}