@media screen and (max-width: 600px) {

  .Welcome {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #000;
    width: 100vw;
    height: 100vh;
    &__wrapper {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
    }
    &__logo {
      color: #fff;
      font-size: 70px;
      font-family: 'Economica', sans-serif;
      transform: scale( 1, 0.0001 );
      transition: all 1000ms ease;

    }
    &__line {
      width: 0;
      height: 1px;
      background-color: #fff;
      transform: translateY(-40px);
      transition: all 800ms ease-in;
    }
    &__text {
      color: #fff;
      font-size: 20px;
      opacity: 0;
      transition: all 2000ms ease;
    }
  }

  .move3 .Welcome__logo {
    transform: translateY(-40px);
  }

  .move2 .Welcome__line {
    width: 100%;
  }

  .move .Welcome__text {
    opacity: 1;
    transform: translateY(-30px);
  }

  .offline{
    background-color: #fffcfb;
    border: 2px solid #770000;
  }
  .online {
    background-color: #f5f7ff;
    border: 2px solid #000070;
  }

  .Event__content-pc {
    display: none;
  }

  .Event-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .Event {
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    &__top {
      width: 330px;
      margin-top: 30px;
      margin-bottom: 15px;
      border-bottom: 2px solid #4e006d;
      display: flex;
      justify-content: center;
      &--title {
        font-size: 25px;
      }
    }
    &__contents {
      display: flex;
      flex-direction: column;
      align-items: center;
      .Event__content {
        width: 330px;
        height: 150px;
        margin-bottom: 20px;
        border-radius: 4px;
        display: flex;
        flex-direction: column;
        align-items: center;
        &--top {
          width: 95%;
          display: flex;
          margin: 5px 0;
          justify-content: space-between;
          .Event-title {
            font-weight: bold;
          }
        }
        &--wrap {
          display: flex;
          height: 100%;
          width: 95%;
          padding-bottom: 10px;
          position: relative;
          .content-image {
            // border: 1px solid #000000;
            border-radius: 5px;
            width: 144px;
            height: 108px;
            &__file {
              width: 100%;
              height: 100%;
              border-radius: 5px;
            }
          }
          .content-right {
            position: absolute;
            bottom: 5px;
            right: 0;
            display: flex;
            flex-direction: column;
            align-items: flex-end;
            .content-show {
              color: #ffffff;
              font-weight: bold;
              border-radius: 3px;
              background-color: #000;
              margin-bottom: 5px;
              padding: 0 5px;
              &:hover {
                background-color: #646464;
              }
            }
          }
        }
      }
    }
  }

  .My-page {
    width: 100vw;
    &__image {
      width: 100%;
      position: relative;
      .bg-image {
        width: 100%;
        opacity: 0.7;
      }
      .my-image {
        position: absolute;
        bottom: -23%;
        right: 5%;
        border: 3px solid #fff;
        border-radius: 50%;
        width: 30%;
      }
    }
    &__profile {
      &--content {
        li {
          font-weight: bold;
        }
        padding-bottom: 20px;
        margin: 0 15px;
        border-bottom: 2px solid #797979;
        .twitter-name {
          color: #fff;
          background-color: #000000;
          padding: 3px 5px;
          border-radius: 3px;
          &:hover {
            background-color: #777777;
          }
        }
      }
    }
  }
}

@media screen and (min-width: 601px) {

  .Welcome {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #000;
    width: 100vw;
    height: 100vh;
    &__wrapper {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
    }
    &__logo {
      color: #fff;
      font-size: 70px;
      font-family: 'Economica', sans-serif;
      transform: scale( 1, 0.0001 );
      transition: all 1000ms ease;

    }
    &__line {
      width: 0;
      height: 1px;
      background-color: #fff;
      transform: translateY(-40px);
      transition: all 800ms ease-in;
    }
    &__text {
      color: #fff;
      font-size: 20px;
      opacity: 0;
      transition: all 2000ms ease;
    }
  }

  .move3 .Welcome__logo {
    transform: translateY(-40px);
  }

  .move2 .Welcome__line {
    width: 100%;
  }

  .move .Welcome__text {
    opacity: 1;
    transform: translateY(-30px);
  }

  .wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .offline {
    background-color: #fffcfb;
    border: 2px solid #770000;
  }

  .online {
    background-color: #f5f7ff;
    border: 2px solid #000070;
  }

  .Event {
    width: 1040px;
    display: flex;
    justify-content: space-between;
    &__wrapper {
      width: 740px;
      padding: 2%;
    }
    &__top {
      width: 100%;
      height: 60px;
      background-color: #646464;
      display: flex;
      align-items: center;
      padding-left: 20px;
      &--title {
        color: #fff;
        font-size: 25px;
      }
    }
    &__contents {
      width: 700px;
      margin-top: 30px;
    }
    &__content {
      display: none;
    }
    &__content-pc {
      display: flex;
      margin-bottom: 30px;
      &--left {
        width: 120px;
        height: 250px;
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: #000000;
        .content-date {
          line-height: 50px;
          font-weight: bold;
          color: #fff;
        }
        .content-time {
          line-height: 50px;
          color: #fff;
        }
        .content-env {
          line-height: 150px;
          font-weight: bold;
          color: #ffffff;
        }
      }
      &--right {
        display: flex;
        justify-content: space-between;
        width: calc(100% - 120px);
        .content-left {
          width: 50%;
          padding: 2%;
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: space-between;
          &__name {
            font-weight: bold;
          }
          .content-image {
            width: 250px;
            height: 200px;
            display: flex;
            align-items: center;
            justify-content: center;
            &__file {
              max-width: 240px;
              max-height: 180px;
            }
          }
        }
        .content-right {
          width: 280px;
          &__title {
            line-height: 50px;
          }
          &__exp {
            height: 150px;
            overflow: scroll;
          }
          &__owner {
            height: 50px;
            display: flex;
            flex-direction: column;
            align-items: flex-end;
            padding-right: 4px;
            &--show {
              font-weight: bold;
              background-color: #000;
              color: #fff;
              padding: 0 4px;
              &:hover {
                opacity: 0.7;
              }
            }
          }
        }
      }
    }
  }
  .My-page {
    width: 740px;
    padding: 2%;
    display: flex;
    flex-direction: column;
    // justify-content: space-between;
    &__contents {

    }
    &__image {
      position: relative;
      .bg-image {
        width: 700px;
        opacity: 0.7;
      }
      .my-image {
        width: 220px;
        border-radius: 50%;
        border: 3px solid #fff;
        position: absolute;
        right: 5%;
        bottom: 10%;
      }
    }
    &__profile {
      width: 100%;
      border-bottom: 1px solid #000;
      margin-bottom: 15px;
      padding-bottom: 3px;
      &--content {
        li {
          font-weight: bold;
          font-size: 20px;
        }
        .twitter-name {
          background-color: #000;
          color: #fff;
          padding: 6px;
          font-size: 20px;
          border-radius: 3px;
        }
      }
    }
  }
}